<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .profile-card {
            max-width: 500px;
            margin: 50px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    
        <div class="container">
            <div class="profile-card">
                <h2>Hosteler Detail</h2>
                <form action="{{url_for('rooms_admin')}}" method="GET">
                    <div class="form-group">
                        <label for="id">ID:</label>
                        <input type="text" class="form-control" name="id" value={{detail[0]}} id="id" disabled>
                    </div>
                    <div class="form-group">
                        <label for="room no">Room no:</label>
                        <input type="number" class="form-control" name="room_no" id="room no" value={{detail[1]}} disabled>
                    </div>
                    <div class="form-group">
                        <label for="bed no">Bed no:</label>
                        <input type="number" class="form-control" name="bed_no" id="bed no" value={{detail[2]}} disabled>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" value={{detail[3]}} disabled>
                    </div>
                    <div class="form-group">
                        <label for="adhaar_no">Adhaar no</label>
                        <input type="number" class="form-control" name="adhaar_no" id="adhaar_no" value={{detail[4]}} disabled>
                    </div>
                    <div class="form-group">
                        <label for="mobile_no">Mobile no:</label>
                        <input type="number" class="form-control" name="mobile_no" id="mobile_no" value={{detail[5]}} disabled>
                    </div>
                    <div class="form-group">
                        <label for="rent">Rent:</label>
                        <input type="number" class="form-control" name="rent" id="rent" value={{detail[5]}} disabled>
                    </div>
                    <div class="form-group">
                        <label for="paid_or_not">Paid or Not</label><br>
                        <input type="text" class="form-control" name="paid_or_not" id="paid_or_not" value={{detail[6]}} disabled>
                    </div>

                    <button type="submit" class="btn btn-success" style="float:right;">Back</button>
                    
                </form>
            </div>
        </div>
    
</body>
</html>
